/* 前言*/
/*————————————————————全局通用————————————————————*/

html, body {
  height: 95%;
  padding: 0.5em;
}

/* 清除div外边距 */

div {
  margin: 0;
}

p {
  text-align: justify;
  text-indent: 2em;
  duokan-text-indent: 2em;
  line-height: 130%;
  font-family: "宋体";
}

a {
  text-decoration: none;
  color: #7d0000;
}

hr {
  margin: 0;
  border-style: dotted;
  border-color: #252528;
  border-width: 1px 0 0 0;
}

.left {
  text-align: left;
  text-indent: 0;
  duokan-text-indent: 0;
}

.center {
  text-align: center;
  text-indent: 0;
  duokan-text-indent: 0;
}

.right {
  text-align: right;
  text-indent: 0;
  duokan-text-indent: 0;
}

.display {
  display: none;
}

/* 缩进 */

.indent {
  text-indent: 2em;
  duokan-text-indent: 2em;
}

/* 清除缩进 */

.clear-indent {
  text-indent: 0;
  duokan-text-indent: 0;
}

/*————————————————————注释————————————————————*/

.duokan-footnote {
  line-height: 1.2em;
  height: 1.2em !important;
  margin: 0;
}

.note-img {
  width: 1.1em;
  vertical-align: top;
  cursor: pointer;
}

.footnote {
  font-family: "楷体";
  text-indent: 0;
  duokan-text-indent: 0;
}

.footnote > a {
  display: none;
  color: #a52a2a;
}

.epub-noteref {
  color: inherit
}
/*————————————————————制作说明————————————————————*/

body.description {
  background-image: url(../Images/description-back.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25% 10% 0;
  font-size: 0.9em;
}

div.description-body {
  width: 55%;
  padding: 2em 1.3em;
  border-radius: 0.5em;
  font-size: 0.9em;
  border-style: solid;
  border-color: #393939;
  border-width: 0.3em;
  border-radius: 5em;
  background-color: #5a5a5a;
  box-shadow: 2px 2px 3px #828281;
}

h1.description-title {
  text-align: center;
  font-family: "黑体";
  font-size: 1.2em;
  margin: 0 0 1em 0;
  color: #FF9;
  text-shadow: 1px 1px 0 black;
}

p.description-text {
  color: #f9ddd2;
  font-family: "准圆";
  margin: 0;
  text-align: justify;
  text-indent: 0;
  duokan-text-indent: 0;
}

hr.description-hr {
  margin: 0.5em -1em;
  border-style: dotted;
  border-color: #9C9;
  border-width: 0.05em 0 0 0;
}

p.tips {
  text-align: justify;
  text-indent: 0;
  duokan-text-indent: 0;
  font-family: "楷体";
  font-size: 0.7em;
  color: #FFC;
  margin: 0;
}

/*————————————————————公众号———————————————————*/

body.gzh {
  background-color: white;
  padding: 50% 10% 0;
}

div.gzh {
  text-align: center;
  text-indent: 0;
  duokan-text-indent: 0;
}

img.gzh {
  width: 50%;
}

p.gzh {
  margin: 2% 0;
  text-align: center;
  text-indent: 0;
  duokan-text-indent: 0;
  font-family: "准圆";
}

img.qmj-logo {
  width: 25%;
}

/*————————————————————扉页————————————————————*/

body.feiye-body {
  background-color: white;
}

div.feiye-content {
  margin: 20% 0 0 0;
}

div.feiye-book-nmae {
  margin: 0.1em 0;
  text-align: center;
  text-indent: 0;
  duokan-text-indent: 0;
  font-size: 120%;
  font-family: "小标宋", sans-serif;
}

div.feiye-author {
  margin: 0.5em 0;
  text-align: center;
  text-indent: 0;
  duokan-text-indent: 0;
  font-size: 100%;
  color: #909090;
  font-family: "小标宋", sans-serif;
}

div.feiye-style-author {
  margin: 95% 5% 0 auto;
  line-height: 120%;
  font-size: 100%;
  transform: rotate(-25deg);
  text-align: right;
  width: 6em;
  text-indent: 0;
  duokan-text-indent: 0;
  font-family: "DK-XIHEITI", "黑体", sans-serif;
}

div.feiye-style-author p {
  margin: 0.2em 0;
  text-align: right;
  text-indent: 0;
}

/*————————————————————作者简介————————————————————*/

/*————————————————————内容简介————————————————————*/

body.introduction {
  background-color: white;
  padding: 25% 10%;
  border-style: double;
  border-color: rgba(83, 83, 83, 0.5);
  border-width: 0.4em;
}

div.cover {
  margin: 0 0 1em 0;
  text-align: center;
  text-indent: 0;
  duokan-text-indent: 0;
  width: 100%;
}

img.cover {
  width: 40%;
  box-shadow: 3px 3px 3px #535353;
  margin: 0 0 0.5em 0;
}

span.book-name {
  font-family: "小标宋", sans-serif;
}

span.author {
  font-family: "小标宋", sans-serif;
}

h1.introduction-title {
  margin: 0.3em 0 1em 0;
  text-align: left;
  text-indent: 0;
  duokan-text-indent: 0;
  font-size: 140%;
  color: white;
  font-family: "印品招牌体", sans-serif;
}

h1.introduction-title span {
  background-color: #535353;
  padding: 0.4em 2em 0.2em 0.4em;
}

div.book-introduction p {
  font-family: "DK-XIHEITI", "黑体", sans-serif;
}

/*————————————————————章节————————————————————*/
body.vol{
  background-image: url(../Images/vol-back.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

p.vol-text {
  text-align: right;
  text-indent: 0;
  duokan-text-indent: 0;
  font-family: "准圆";
  font-size: 0.9em;
  color: #38270b;
  text-shadow: 0.5px 0.5px 0 white;
}

p.vol-text .s1 {
  border-style: solid;
  border-color: #38270b;
  border-width: 0.05em 0 0 0;
  padding: 0.2em 0 0 0;
}

p.vol-text .s2 {
  border-style: solid;
  border-color: #38270b;
  border-width: 0 0 0.05em 0;
  padding: 0 0 0.2em 0;
}

table.vol-title {
  margin: 45% 0 0 auto;
}

table.vol-title td {
  width: 1.2em;
  vertical-align: top;
  padding: 0;
  text-align: center;
  text-indent: 0;
  duokan-text-indent: 0;
  color: #38270b;
  text-shadow: 0.5px 0.5px 0 white;
}

td.vol-title-name {
  font-size: 1.4em;
  font-family: "小标宋";
}

td.vol-title-number {
  font-size: 0.9em;
  font-family: "黑体";
}

div.chapter-head暂存 {
  text-align: center;
  text-indent: 0;
  duokan-text-indent: 0;
  duokan-bleed: lefttopright;
}


div.chapter-head {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 50%,  /* 上半部分保持不透明 */
    rgba(0,0,0,0) 100%   /* 从中间开始渐变到完全透明 */
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0) 100%
  );
  
  /* 以下为可选样式，根据实际情况调整 */
  height: 300px;        /* 需要设置高度 */
  background: #f0f0f0;  /* 示例背景色 */
  width: 100%;          /* 默认宽度 */
}

img.chapter-head {
  width: 100%;
  z-index: -1;

}

img.character {
  width: 100%;
}


h2.chapter-title {
  text-align: center;
  font-size: 1.2em;
  font-family: "小标宋";
  color: #38270b;
  margin: 00% 0 2em 0;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9); /* 半透明背景防止文字穿透 */
  z-index: 999;
  padding: 15px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2.chapter-title span {
  text-align: center;
  font-size: 0.8em;
  font-family: "仿宋";
}

p.subtitle {
  text-align: center;
  font-size: 1em;
  font-family: "楷体";
  text-indent: 0;
  duokan-text-indent: 0;
  margin: 2em 0 1em 0;
  color: #38270b;
}

/* 结束 */

p.end {
  text-align: center;
  text-indent: 0;
  duokan-text-indent: 0;
  margin: 1em 0 0 0;
}

p.end span {
  font-family: "小标宋";
  color: white;
  background-color: #3d3542;
  margin: 0 0 0 0.1em;
  padding: 0.2em 0.2em 0.1em 0.2em;
}

/* 悬浮图片 */
img.floating-image {
    width: 35%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
